*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-color: aliceblue;
}

.card-wrapper{
  display: grid;
  grid-template-columns: repeat(4,1fr);

}

.carousel-item-padding-40-px {
  padding: 0 10px; /* Adjust the value to increase or decrease the gap */
}